<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="WbbHackathon.Feature.IACarousel.Services.ILeonardoIAService, WbbHackathon.Feature.IACarousel"
                  implementationType="WbbHackathon.Feature.IACarousel.Services.LeonardoIAService, WbbHackathon.Feature.IACarousel"/>

        </services>
        <settings>
            <setting name="GenerationEndpoint" value="https://cloud.leonardo.ai/api/rest/v1/generations" />
            <setting name="GenerationApiToken" value="aa69474b-f9de-44ed-929a-3d910ac20eb7" />
        </settings>
    </sitecore>
</configuration>