<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.WbbHackathon.Serialization" description="Project Content" dependencies="Projects.*">
                    <targetDataStore physicalRootPath="$(sourceFolder)\Project\WbbHackathon\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate>
                        <include name="Templates" database="master" path="/sitecore/templates/Project/WbbHackathon" />
                        <include name="Layout" database="master" path="/sitecore/layout/Layouts/Project/Hackathon" />                        
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>