<div class="card mt-5 text-bg-success" style="max-width: 18rem;margin: auto;">
    <div class="card-header">Success</div>
    <div class="card-body">
        <h5 class="card-title">The Carousel was created successfully</h5>
        <p class="card-text">Now you can explore the images generated on your media library and use the data source item.</p>
        <a class="text-white" style="cursor: pointer;" href="/">Return to home</a>
    </div>
</div>